@media screen and (max-width:1150px){
    .featured{
        .project{
            grid-template-columns: repeat(2,1fr);
            grid-gap:1rem 1rem;
        }
    } 
}

@media screen and (max-width:950px){
    .satellite{
        .sat_text{
            h1{
                padding:0 1rem;
                font-size:2.5rem;
            }
            h3{
                padding:1rem;
                font-size:1.3rem;
            }
        }
    }
    
    .blogs{
        flex-direction: column;
        .blog_video{
            margin-bottom:2rem;
        }
        .latest_blog{
            padding-bottom:4rem;
        }
    }
}

@media screen and (max-width:750px){
    body{
        overflow-x:hidden;
    }
    .nav_link{
        position: absolute;
        right:0;
        top:0;
        z-index:3;
        box-shadow:-10px -10px 30px black,inset 4px 4px 10px $box-color;
        //background-image:linear-gradient(to left,transparent,rgba(0,0,0,0.8),rgba(0,0,0,0.5));
        background-color:rgba(50,0,0,0.9);
        flex-direction:column;
        width:250px;
        height:649px;
        border-radius:10px 0 0 10px;
        justify-content: space-around;
        align-items: center;
        transition:transform 0.5s;
        transform:translateX(100%);
        li{
            opacity:0;
            
        }
    }
    .burger{
        display:block;
    }
    .satellite{
        flex-direction: column;
        img{
            max-width:250px;
            max-height:250px;
        }
        .sat_text{
            h1{
                padding:0 1rem;
                font-size:3rem;
            }
            h3{
                padding:1rem;
            }
        }
    }
    .featured{    
        background-image:linear-gradient(transparent,transparent,$box-color);
        h1{
            font-size:1.5rem;
        }
        .project{
            grid-template-columns: repeat(1,1fr);
        }
    }
    .mission{
        h1{
            font-size:1.5rem;
        }
    }
}



@media screen and (max-width:550px){
    .logo{
        img{
            width:200px;
        }
    }
    .nav_link{
        height:626px;
    }
    .satellite{
        .sat_text{
            h1{
                padding:2rem 0.5rem 0 0.5rem;
                font-size:2.5rem;
            }
            h3{
                font-size:1rem;
                padding:1rem;
            }
        }
    }
    .latest_blog{
        .blog{
            max-width:320px;
            img{
                display:none;
            }
            .right{
                text-align: center;
            }
        }
    }
    .footer{
        padding:1rem 0;
        i{
            padding:5px;
        }
    }
}

